behave==1.2.5
click==6.7
ecdsa==0.13
enum34==1.1.6
future==0.16.0
ipaddress==1.0.18
nrfutil==3.3.2
parse==1.8.2
parse-type==0.4.2
pc-ble-driver-py==0.11.3
piccata==1.0.0
pkg-resources==0.0.0
protobuf==3.4.0
pyserial==3.4
pyspinel==1.0.0a2
six==1.11.0
tqdm==4.19.4
wrapt==1.10.11
